
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
    /*background:*/
    /*linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
    font-family: montserrat, arial, verdana;
}

#id_body_wrap, #regi_body_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#id {
    width: 50%;
}

#pw {
    width: 50%;
}

/* 배경색*/
.login_body, .register_body {
    background-color: #D6A888;
}

/*form styles*/
#msform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: auto;
    margin-top: 70px;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15 px1pxrgba(0, 0, 0, 0.4);
    padding: 20 px30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    margin-top: 20px;
}

/*buttons*/
#msform .action-button {
    width: 50%;
    background: darkolivegreen;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10 px5px;
    margin-top: 10px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#msform > h1 {
    color: #735F32;
    margin-bottom: 40px;
}

#msform > h3 {
    color: #735F32;
    margin-bottom: 20px;

}

.emailSendButton, .emailCodeBox {
    width: 100%;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #27AE60;
    color: white;
}

/*login.html 아이디 */
#required_id > p, #required_pw > p {
    display: flex;
    justify-content: flex-start;
    color: red;
    font-weight: bold;
}

#go_resigter {
    width: 100%;
}

#go_resigter > p {
    font-size: 20px;
    font-weight: bold;
    color: #665A48;
    margin-top: 30px;
}

.register_btn {
    width: 100%;
}

.register_btn > button {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: darkolivegreen;
    border: none;
    color: white;
    font-size: 20px;
}

.login_btn {
    width: 100%
}

.login_btn > button {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
}
