<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- OG -->
    <meta property="og:title" content="모바일 청첩장" />
    <meta
      property="og:image"
      content="https://cdn.topstarnews.net/news/photo/201807/456143_108614_510.jpg"
    />
    <meta property="og:description" content="신랑, 신부의 아름다운 첫 시작" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>모바일 청첩장</title>

    <!-- Style -->
    <link rel="stylesheet" href="../static/edit-style.css" />
    <link rel="icon" href="/static/img/favicon.png" type="image/png"/>
  </head>
  <body>
    <!-- NAV 
      #################################################### -->
    <nav id="nav-container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary btn-nav">
            미리보기
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-nav">저장</button>
        </li>
      </ul>
    </nav>

    <!-- Main Section 
      #################################################### -->
    <section id="main-section">
      <div class="main-title-container">
        <textarea
          class="form-control"
          id="main-title-textarea"
          name="main-title"
          cols="10"
          rows="3"
          maxlength="30"
          placeholder="우리라는 이름의&#13;&#10;아름다운&#13;&#10;첫 시작"
        ></textarea>
        <p>wedding day</p>
      </div>

      <div class="main-wedding-img-container">
        <div class="main-wedding-img">
          <div class="main-img-file-button">
            <label for="main-img-input-file">
              이미지 업로드
            </label>
            <input
              type="file"
              id="main-img-input-file"
              accept="image/*"
              style="display: none"
              onclick="onClickedImageUpload()"
            />
          </div>
        </div>
      </div>

      <div class="main-name-container">
        <div class="form-floating mb-1 common-input">
          <input
            type="text"
            class="form-control h-auto"
            id="floatingInputGroom"
            placeholder="신랑 이름"
          />
          <label for="floatingInputGroom">신랑 이름</label>
        </div>
        <div class="form-floating common-input">
          <input
            type="text"
            class="form-control h-auto"
            id="floatingInputBride"
            placeholder="신부 이름"
          />
          <label for="floatingInputBride">신부 이름</label>
        </div>
      </div>

      <div class="main-address-container">
        <div class="form-floating mb-1 common-input">
          <input
            type="text"
            class="form-control h-auto"
            id="floatingInputDate"
            placeholder="예식 날짜를 입력해주세요."
          />
          <label for="floatingInputDate">예식 날짜를 입력해주세요.</label>
        </div>
        <div class="form-floating common-input">
          <input
            type="text"
            class="form-control h-auto"
            id="floatingInputLocation"
            placeholder="웨딩홀을 입력해주세요."
          />
          <label for="floatingInputLocation">웨딩홀을 입력해주세요.</label>
        </div>
      </div>
    </section>

    <!-- Invitation Phrase Section
      #################################################### -->
    <section id="invitation-phrase-section">
      <div class="divide-line"></div>
      <h1 class="section-title wedding-announcement">결혼합니다</h1>
      <div class="card">
        <div class="invite-phrases">
          <textarea
            class="form-control"
            id="invite-phrases-textarea"
            name="invitation-phrase"
            cols="10"
            rows="20"
            placeholder="문구를 작성해주세요"
          ></textarea>
        </div>
      </div>
      <div class="groom-family-name">
        <div class="groom-parents">
          <input
            type="text"
            class="groom-father-name mb-2"
            id="groom-father-name"
            placeholder="아버님 성함"
          />
          <input
            type="text"
            class="groom-mother-name mb-2"
            id="groom-mother-name"
            placeholder="어머님 성함"
          />
        </div>
        <p>의 아들</p>
        <input
          type="text"
          class="groom-name mb-2"
          id="groom-name"
          placeholder="신랑 이름"
        />
      </div>
      <div class="bride-family-name">
        <div class="bride-parents">
          <input
            type="text"
            class="bride-father-name mb-2"
            id="bride-father-name"
            placeholder="아버님 성함"
          />
          <input
            type="text"
            class="bride-mother-name mb-2"
            id="bride-mother-name"
            placeholder="어머님 성함"
          />
        </div>
        <p>의 딸</p>
        <input
          type="text"
          class="bride-name mb-2"
          id="bride-name"
          placeholder="신부 이름"
        />
      </div>
    </section>

    <!-- Way to come Section
      #################################################### -->

    <section id="waytocome-section">
      <div class="divide-line"></div>
      <div class="waytocome-container">
        <div><p class="section-title">오시는 길</p></div>
      <div class="form-floating common-input">
          <input
                  type="text"
                  class="form-control mb-2 h-auto"
                  id="floatingInputName"
                  placeholder="웨딩홀 이름를 입력해주세요."
          />
          <label for="floatingInputAddress">웨딩홀 이름</label>
      </div>
        <div>
          <div class="form-floating common-input">
            <input
              type="text"
              class="form-control mb-2 h-auto"
              id="floatingInputAddress"
              placeholder="웨딩홀 주소를 입력해주세요."
            />
            <label for="floatingInputAddress">웨딩홀 주소</label>
          </div>
        </div>
        <div>
          <div class="form-floating common-input">
            <input
              type="text"
              class="form-control h-auto"
              id="floatingInputPhone"
              placeholder="웨딩홀 전화번호를 입력해주세요."
            />
            <label for="floatingInputPhone">웨딩홀 전화번호</label>
          </div>
        </div>
        <button type="button" class="btn btn-outline-primary" onclick="searchPlaces()">검색하기</button>
      </div>

    </section>
    <div class="map_wrap">
        <div id="map" style="width: 400px;height:400px;position:center;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
            <div class="option">

            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=96e7c6e52ee729c9e2b0e6bd11f3e55c&libraries=services"></script>

    <script>

        // 마커를 담을 배열입니다
        var markers = [];

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({zIndex: 1});

        // 키워드로 장소를 검색합니다
        searchPlaces();
        $('#menu_wrap').hide()


        // 키워드 검색을 요청하는 함수입니다
        function searchPlaces() {

            var keyword = document.getElementById('floatingInputName').value;


            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch(keyword, placesSearchCB);
        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다
                displayPlaces(data);

                // 페이지 번호를 표출합니다
                displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }

        // 검색 결과 목록과 마커를 표출하는 함수입니다
        function displayPlaces(places) {

            var listEl = document.getElementById('placesList'),
                menuEl = document.getElementById('menu_wrap'),
                fragment = document.createDocumentFragment(),
                bounds = new kakao.maps.LatLngBounds(),
                listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();

            for (var i = 0; i < 1; i++) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker = addMarker(placePosition, i),
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function (marker, title) {
                    kakao.maps.event.addListener(marker, 'mouseover', function () {
                        displayInfowindow(marker, title);
                    });

                    kakao.maps.event.addListener(marker, 'mouseout', function () {
                        displayInfowindow(marker, title);
                    });

                    itemEl.onmouseover = function () {
                        displayInfowindow(marker, title);
                    };

                    itemEl.onmouseout = function () {
                        infowindow.close();
                    };
                })(marker, places[i].place_name);

                fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('li'),
                itemStr = '<span class="markerbg marker_' + (index + 1) + '"></span>' +
                    '<div class="info">' +
                    '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
                itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' + places.address_name + '</span>';
            } else {
                itemStr += '    <span>' + places.address_name + '</span>';
            }

            itemStr += '  <span class="tel">' + places.phone + '</span>' +
                '</div>';

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker(position, idx, title) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions = {
                    spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage
                });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
        function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                fragment = document.createDocumentFragment(),
                i;

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
                paginationEl.removeChild(paginationEl.lastChild);
            }

            for (i = 1; i <= pagination.last; i++) {
                var el = document.createElement('a');
                el.href = "#";
                el.innerHTML = i;

                if (i === pagination.current) {
                    el.className = 'on';
                } else {
                    el.onclick = (function (i) {
                        return function () {
                            pagination.gotoPage(i);
                        }
                    })(i);
                }

                fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
        }

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {
            while (el.hasChildNodes()) {
                el.removeChild(el.lastChild);
            }
        }
    </script>

    <!-- Congratulation Contact Section
      #################################################### -->
    <section id="congratulation-contact-section">
      <div class="divide-line"></div>
      <div class="congratulation-contact-container">
        <div><p class="section-title">축하 연락처</p></div>
        <div>
          <div class="form-floating common-input">
            <input
              type="text"
              class="form-control mb-2 h-auto"
              id="floatingInputAddress"
              placeholder="신랑 연락처를 입력해주세요."
            />
            <label for="floatingInputAddress">신랑 연락처</label>
          </div>
        </div>
        <div>
          <div class="form-floating common-input">
            <input
              type="text"
              class="form-control h-auto"
              id="floatingInputPhone"
              placeholder="신부 연락처를 입력해주세요."
            />
            <label for="floatingInputPhone">신부 연락처</label>
          </div>
        </div>
      </div>
    </section>

    <!-- Javascript
      #################################################### -->
    <script src="../static/js/edit_view.js"></script>
  </body>
</html>
