<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>

    <!-- OG -->
    <meta property="og:title" content="모바일 청첩장"/>
    <meta property="og:image" content="https://cdn.topstarnews.net/news/photo/201807/456143_108614_510.jpg"/>
    <meta property="og:description" content="신랑, 신부의 아름다운 첫 시작"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Kakaotalk -->
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
        integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/"
        crossorigin="anonymous"></script>
    <script>
    Kakao.init('1f505132092d086de54c7d54b9777647'); // 사용하려는 앱의 JavaScript 키 입력</script>



    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Simonetta&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="../static/preview-style.css"/>
    <link rel="icon" href="../static/img/favicon.png" type="image/png"/>

    <title>모바일 청첩장</title>




</head>

<body>
<!-- Main Section
    #################################################### -->
<div class="background-container">
    <section id="main-section">
        <div class="main-title-container">
            <p>우리라는 이름의<br/>아름다운<br/>첫 시작</p>
            <p>wedding day</p>
        </div>

        <div class="main-wedding-img-container">
            <div class="main-wedding-img"></div>
        </div>

        <div class="main-name-container">
            <p>신랑이름</p>
            <p>신부이름</p>
        </div>

        <div class="main-address-container">
            <p>2023년 02월 04일, 토요일 오후 12시 30분</p>
            <p>더컨벤션 신사 4층, 그랜드볼룸</p>
        </div>
    </section>
</div>

<!-- Invitation Phrase Section
    #################################################### -->
<div class="divide-line"></div>
<section id="invitation-phrase-section">
    <p class="section-title wedding-announcement">결혼합니다</h1>
    <div class="invite-phrases">
        <p>
            따스한 봄날을 알리는 입춘<br/>
            두 사람이 하나가 되는 인생의 새싹을 피우려 합니다.

            <br/><br/>
            항상 서로를 이해하고 사랑하며<br/>
            한 그루 나무, 한 송이 꽃이 되어<br/>
            보듬어주는 삶을 살아가겠습니다<br/>
            <br/>
            새로이 시작되는 저희 두 사람의 앞날을<br/>
            귀한 걸음으로 축복하여 주시면<br/>
            더없는 기쁨으로 간직하겠습니다.<br/>

        </p>
    </div>
    <div class="groom-family-name">
        <div class="groom-parents">
            <p class="groom-father-name">신랑 아버님</p>
            <p class="groom-mother-name">신랑 어머님</p>
        </div>
        <p>의&nbsp;&nbsp;아들</p>
        <div>
            <p class="groom-name">신랑</p>
        </div>
    </div>
    <div class="bride-family-name">
        <div class="bride-parents">
            <p class="bride-father-name">신부 아버님</p>
            <p class="bride-mother-name">신부 어머님</p>
        </div>
        <p>의&nbsp;&nbsp;&nbsp;&nbsp;딸</p>
        <div>
            <p class="bride-name">신부</p>
        </div>
    </div>
</section>

<!-- Way to come Section
    #################################################### -->
<div class="background-container">
    <section id="waytocome-section">
        <div class="divide-line"></div>
        <div class="waytocome-container">
            <div>
                <p class="section-title">오시는 길</p>
            </div>
            <button class="common-button" onclick="call(010-9959-8910)">전화문의</button>
        </div>
    </section>
</div>

<!-- Congratulation Contact Section
    #################################################### -->
<section id="congratulation-contact-section">
    <div class="divide-line"></div>
    <div class="congratulation-contact-container">
        <div>
            <p class="section-title">축하 연락처</p>
        </div>
        <div class="groom-contact">
            <div class="input-group mt-4">
                <input type="text" value="신랑 이름" readonly>
                <button class="btn btn-outline-secondary type=" button
                "><img src="../static/img/phone.png" alt="전화"
                       width="20ppx" height="20px"></button>
                <button class="btn btn-outline-secondary" type="button"><img src="../static/img/message.png" alt="전화"
                                                                             width="20ppx" height="20px"></button>
            </div>
            <div class="input-group mt-3">
                <input type="text" value="신부 이름" readonly>
                <button class="btn btn-outline-secondary type=" button
                "><img src="../static/img/phone.png" alt="전화"
                       width="20ppx" height="20px"></button>
                <button class="btn btn-outline-secondary" type="button"><img src="../static/img/message.png" alt="전화"
                                                                             width="20ppx" height="20px"></button>
            </div>
        </div>
    </div>
</section>

<!-- Congratulation Contact Section
    #################################################### -->
<div class="background-container">
    <section id="share-section">
        <div class="divide-line"></div>
        <div class="share-container">
            <div>
                <p class="section-title">소식공유</p>
            </div>
            <button class="common-button" onclick="shareMessage()">카카오 공유하기</button>
            <div class="share-footer">
                <p>Thank you!<br>❤</p>
            </div>
        </div>
    </section>
</div>

<!-- Javascript
    #################################################### -->
<script src="../static/js/preview.js"></script>
</body>

</html>